.features {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features h2 {
    margin: 91px 0px 17px;
}
.features p {
    margin: 0px 0px 50px;
}
.features__video-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/video-screen-mobile.png) 0 0 / contain no-repeat;
    width: 385px;
    height: 230px;
    margin: 0px 0px 50px;
}
@media(min-width: 800px) {
    .features__video-screen{
        order: 3;
    background: url(../img/video-screen-laptop.png) 0 0 / contain no-repeat;
    width: 700px;
    height: 558px;
    }
}
@media(min-width: 1000px) {
    .features__video-screen{
    background: url(../img/video-screen-laptop.png) 0 0 / contain no-repeat;
    width: 950px;
    height: 658px;
    }
}
.features__video-screen .button {
    border-radius: 50%;
    width: 62px;
    height: 62px;
}
.features__line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
@media(min-width: 800px) {
    .features__line {
        order: 2;        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px;
    }
}
.features__card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 230px;
    margin-bottom: 75px;


}
@media(min-width: 800px) {
    .features__card{
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 250px;
        margin-left: 52px;
    }
}

.features__card img {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}
.features__card p:nth-child(2) {
    font-weight: 700;
}
.features__card p {
    margin-bottom: 10px;
    text-align: center;
}