.menu {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 78px;
}
@media (min-width: 800px) {
  .menu {
    height: 156px;
  }
}
.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  left: -100vh;
  top: 78px;
  transition: all 0.3s ease-in-out;
}
.menu__list.menu-visible {
  position: absolute;
  left: 0px;
  top: 78px;
  min-height: 100%;
  transition: all 0.3s ease-in-out;
}
.header__content.menu-visible {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 800px) {
  .menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 33.333%;
    position: static;
    order: 1;
  }
}
.menu__item a {
  color: var(--menu-button-color);
  font-size: 15px;
}
.menu__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33.333%;
  order: 2;
}
@media (min-width: 800px) {
  .menu__logo {
    order: 2;
  }
  .menu__logo img {
    width: 186px;
  }
}
.menu__logo img {
  width: 150px;
}
.menu__sotial-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 33.333%;
  order: 1;
  position: absolute;
  left: -100vh;
  transition: all 0.3s ease-in-out;
  top: calc(var(--menu-height) + 85px);
}
.menu__sotial-media.menu-visible {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(var(--menu-height) + 85px);
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}
.menu__sotial-media.menu-visible img {
  width: 25px;
  height: 25px;
}
@media (min-width: 800px) {
  .menu__sotial-media {
    position: static;
    order: 3;
  }
}
.menu__sotial-media img {
  width: 32px;
  height: 32px;
  margin: 0px 10px;
}
.menu-burger {
  display: block;
  cursor: pointer;
  width: 27px;
  height: 16px;
  order: 3;
}
.menu-burger__lines {
  position: relative;
  display: block;
  width: 27px;
  height: 2px;
  background: var(--menu-button-color);
}
.menu-burger__lines:after {
  content: "";
  top: 7px;
  right: 0;
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: var(--menu-button-color);
}
.menu-burger__lines::before {
  content: "";
  top: 14px;
  right: 0;
  position: absolute;
  display: block;
  width: 13px;
  height: 2px;
  background: var(--menu-button-color);
}
@media (min-width: 800px) {
  .menu-burger {
    display: none;
  }
}
.header {
  background: url(../img/header-background.png) 50% 50% / cover no-repeat;
  min-height: 600px;
}
@media (min-width: 800px) {
  .header {
    background: url(../img/header-background.png) 50% 50% / cover no-repeat;
  }
}
.header__content {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header__content h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  color: var(--menu-button-color);
  text-align: center;
  margin:50px 0px 17px;
}
@media (min-width: 800px) {
  .header__content h1 {
    font-weight: 700;
    font-size: 74px;
    line-height: 84px;
    letter-spacing: 0.2px;
    max-width: 762px;
  }
}
.header__content p {
  font-size: 28px;
  line-height: 40px;
  color: var(--menu-button-color);
  text-align: center;
  max-width: 786px;
  margin-bottom: 59px;
}
@media (min-width: 800px) {
  .header__content p {
    margin-bottom: 40px;
  }
}
.header {
  margin-bottom: 81px;
}
.header__content .button {
  margin-bottom: 80px;
}
@media (min-width: 800px) {
  .header {
    margin-bottom: 80px;
  }
  .header__content .button {
    margin-bottom: 350px;
  }
}

